.modal-container {
  width: 600px;
  font-size: 1rem;
  background-color: var(--modal-background-color);
  border-radius: var(--radius-sm);
  box-shadow:
    0 19px 38px #0000004d,
    0 15px 12px #00000038;
  padding: var(--spacing-md);
  padding-block-start: 0;
  overflow: scroll;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: var(--spacing-md) var(--spacing-md);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: calc(-1 * var(--spacing-md));
  margin-right: calc(-1 * var(--spacing-md));
}

.modal-button {
  border: 1px solid var(--modal-background-color);
  color: inherit;
  text-transform: uppercase;
  transition: background 0.3s ease;

  &:hover {
    background-color: var(--modal-background-color);
    color: var(--background-color);
  }
}
