:root {
  --modal-background-color: rgb(239, 239, 239);
}

.event-details-modal {
  min-height: calc(100vh - 365px);
  max-height: calc(100vh - 165px);
}

.event-display-sources {
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-lg);

  & button {
    transition: background 0.3s ease;
  }

  & button:hover {
    background-color: rgba(var(--button-active), 0.3);
  }

  & .line {
    height: 1px;
    flex: 1;
    background-color: var(--background-color);
  }
}

.event-details-label {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--mid-white);
}

.event-source-link {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: white;
  border-radius: var(--radius-sm);
  border: 1px solid #d7e3ec;
}
