.modal-error-container {
  width: 100%;
}

.modal-error-header {
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);
}

.modal-error-message {
  padding-block-start: var(--spacing-sm);
  padding-inline: var(--spacing-md);
}
