.timeline-position {
  bottom: 0;
}

.timeline-wrapper {
  box-sizing: border-box;
  height: auto;
  background: var(--background-color);
  box-shadow:
    0 -10px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  color: var(--text-color);
  transition: transform 0.3s ease;
  border-top: 1px solid var(--background-color);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.timeline {
  display: flex;
  width: 100vw;
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: scroll;
}

.timeline-item {
  border: 1px solid white;
  padding: var(--spacing-sm);
  margin: var(--spacing-sm);
  font-size: var(--font-sm);
  position: relative;
}

.timeline-events {
  position: absolute;
  top: -100%;
  background: var(--background-color);
  border: 1px solid white;
  padding: var(--spacing-sm);
  margin: var(--spacing-sm);
  font-size: var(--font-sm);
}
