.timeline-position {
  bottom: 0;
}

.timeline-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--background-color);
  opacity: 0.9;
  font-size: var(--font-md);
}

.timeline-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5px;
  margin: auto;
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 6px 6px 0 0;
  cursor: row-resize;
}
