.zoom-controls {
  display: flex;
  grid-gap: var(--spacing-sm);
}

.zoom-level-button {
  padding: var(--button-default-padding);
  letter-spacing: 0.05rem;
  color: var(--mid-white);
  border-radius: var(--radius-sm);
  font-weight: 600;
}

.zoom-level-button:hover {
  color: var(--off-white);
  background-color: var(--button-hover);
}

.zoom-level-button.active {
  color: var(--off-white);
  background-color: rgb(var(--button-active));
}

.custom-range-active {
  border: 1px solid rgb(var(--button-active));
}
