.position-fixed {
  position: fixed;
  z-index: 401;
}

.satellite-toggle-position {
  top: 0;
  right: 8px;
}

.made-with-position {
  top: 90px;
  left: 0;
}

.ofu-logo-position {
  top: 70px;
  right: 8px;
}
