:root {
  --modal-background-color: rgb(239, 239, 239);
}

.event-details-modal {
  width: 600px;
  max-height: calc(100vh - 165px);
  overflow: scroll;
  font-size: 1rem;
  background-color: var(--modal-background-color);
  padding: var(--spacing-md);
  padding-block-start: 0;
  border-radius: var(--radius-sm);
  box-shadow:
    0 19px 38px #0000004d,
    0 15px 12px #00000038;
}

.event-details-labels {
  display: flex;
  gap: var(--spacing-lg);
}

.event-display-sources {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-lg);

  & button {
    padding: 5px 9px;
    border-radius: var(--radius-sm);
    transition: background 0.3s ease;
  }

  & button:hover {
    background-color: rgba(245, 124, 0, 0.3);
  }

  & .line {
    height: 1px;
    flex: 1;
    background-color: var(--background-color);
  }
}

.event-details-label {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  color: #a0a0a0;
}

.event-details-buttons {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-md) var(--spacing-md);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: calc(-1 * var(--spacing-md));
  margin-right: calc(-1 * var(--spacing-md));
}

.event-details-modal-button {
  border: 1px solid var(--modal-background-color);
  padding: 5px 9px;
  color: inherit;
  text-transform: uppercase;
  border-radius: var(--radius-sm);
  transition: background 0.3s ease;

  &:hover {
    background-color: var(--modal-background-color);
    color: var(--background-color);
  }
}
