:root {
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --radius-sm: 0.4rem;

  --font-sm: 0.6rem;
  --font-md: 1.15rem;

  --text-color: white;
  --background-color: black;
  --events-color: rgb(139, 0, 0);
  --mid-white: #a0a0a0;
  --off-white: #efefef;
  --button-hover: #f57c004d;
  --button-active: #f57c00;


  --overlay-z-index: 400;

}
