.modal-position-right {
  top: var(--spacing-lg);
  right: var(--spacing-lg);
}

.modal-position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-position-left {
  top: var(--spacing-lg);
  left: var(--spacing-lg);
}
