.satellite-toggle-position {
  top: var(--spacing-sm);
  right: var(--spacing-sm);
}

.made-with-position {
  top: calc(64px + var(--spacing-sm));
  left: 0;
}

.ofu-logo-position {
  top: calc(64px + (var(--spacing-sm) * 2));
  right: var(--spacing-sm);
}
